<!DOCTYPE html>
<body>
<h1>LOGIN</h1>
  <form action="/login" method="post"><label for="name">Name:</label><input type="text" name="name"><label for="password">Password:</label><input type="password" name="password"><button type="submit">Submit</button></form>


<h1>Create users</h1>
<form action="/users/create" method="post">
    Username: <input type="text" name="user_name"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">
</form>

</body>